@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Codystar:wght@300;400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Uchen&family=Wallpoet&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    font-family: "Open Sans";
    color: rgb(var(--foreground-rgb));
    background-image: url(/images/texture/bg-texture.jpeg);
    font-family: "Courier New", Courier, monospace;
    filter: grayscale(0.5);
    /* background-blend-mode: hard-light;
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover; */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/*
This style is for top 1000 terms
*/
.shadow-btn {
    background-color: #085108;
    box-shadow: -1px 3px 3px #e5e5e5, 0 5px 1px #e1e1e1, 0 7px 2px #d5d5d5,
        0px 9px 0 3px #d1d1d1, 0px 10px 0 3px #cfcfcf, 0px 13px 2px #cdcdcd,
        0px 15px 1px #cbcbcb, 0px 17px 0px #838383, 0 -3px 1px #fffafa,
        0 -5px 1px #ffffff;
    /* 0 -9px 2px -3px, 14px 1px 12px -6px inset*/
    color: white;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-out 0s;
    width: 135px;
    border: 1px solid darkgrey;
    outline: 1px solid ghostwhite;
    border-radius: 50%;
    font-weight: 700;
    height: 100px;
    position: absolute;
    z-index: 99;
    font-size: 0.8rem;
}

.nav-link {
    background-color: #000;
    box-shadow: 0 3px 0 #e4e4e4, 0 5px 0 #ccd0cc, 0 7px 0 #b7beb7,
        0 9px 0 2px #a4aaa4, 0 11px 0 3px #8f8f8f;
    color: #fff;
    font-weight: 700;
    font-family: monospace;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-out 0s;
    width: 20%;
    padding: 15px 35px;
    list-style: none;
    text-shadow: 0px 0px 2px white, 1px -20px 3px white;
}
.ff-monospace button {
    font-family: "Courier New", Courier, monospace !important;
}
.nav-link:hover a {
    text-shadow: 0px 0px 1px white, 1px -20px 4px white;
}

.logo-text p {
    /* text-shadow: 3px 3px 0 #999, 5px 5px 0 #ddd, 7px 7px 0 #ccc, 9px 9px 0 #bbb;*/

    /* box-shadow: 2px 2px #bf6565, 4px 4px #592e2a, 6px 6px #a6442e,
        8px 8px #f26d3d, 10px 10px #f27c38, -2px -2px #f26849, -4px -4px #f2d544,
        -6px -6px #f2cf66, -8px -8px #f2a30f, -10px -10px #260101,
        -8px 2px 0px #a6a37d, -9px 4px 0px #eeedc8, -12px 6px 0px #2b1c8a,
        3px 8px 0px #250c59, 4px 10px 0px #428964, 5px -2px 0px #a6a37d,
        6px -4px 0px #eeedc9, -9px -6px 0px #b0afd9, 8px -8px 0px #3b42d9,
        10px -10px 0px #5c73f2; */
    padding: 0px 9px;
    margin-top: 12px;
    font-size: 2.7rem;
    color: rgb(3, 31, 14);
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;
}

.filter-shadow {
    filter: drop-shadow(0px 1px 2px black);
}

.node-container {
    position: relative;
    margin: 0px auto 0;
}

.sub-terms {
    box-shadow: 2px 2px #bf6565, 4px 4px #592e2a, 6px 6px #a6442e,
        8px 8px #f26d3d, 10px 10px #f27c38, -2px -2px #f26849, -4px -4px #f2d544,
        -6px -6px #f2cf66, -8px -8px #f2a30f, -10px -10px #260101,
        -8px 2px 0px #a6a37d, -9px 4px 0px #eeedc8, -12px 6px 0px #2b1c8a,
        3px 8px 0px #250c59, 4px 10px 0px #428964, 5px -2px 0px #a6a37d,
        6px -4px 0px #eeedc9, -9px -6px 0px #b0afd9, 8px -8px 0px #3b42d9,
        10px -10px 0px #5c73f2;
    border-radius: 3px;
    max-width: 100px;
    z-index: 99;
    background-color: #e2e7e7;
    color: #555555;
    min-width: 130px;
    min-height: 70px;
    padding: 4px;
    font-size: 0.8rem;
}

.form-wrapper {
    /* box-shadow: 2px 2px #bf6565, 4px 4px #592e2a, 6px 6px #a2bb8d,
        8px 8px #c09a8c, 10px 10px #41291c, -2px -2px #f4c6bb, -4px -4px #c4c2bc,
        -6px -6px #1c1b1b, -8px -8px #6e685c, -10px -10px #260101,
        -8px 2px 0px #a6a37d, -9px 4px 0px #eeedc8, -12px 6px 0px #2b1c8a,
        3px 8px 0px #250c59, 4px 10px 0px #0d2217, 5px -2px 0px #a6a37d,
        6px -4px 0px #eeedc9, -9px -6px 0px #b0afd9, 8px -8px 0px #3b42d9,
        10px -10px 0px #5c73f2;
    background-color: #137b13; */
    min-width: 450px;
    margin-top: 100px;
    padding: 30px;
}

.label {
    padding: 15px;
    color: #e9e5e2;
    font-size: 1rem;
    font-weight: 700;
    background-color: #33721f;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
}

.input {
    background-color: rgb(11 91 32);
    border: 3px solid #156e2b;
    box-shadow: 0px 0px 2px 2px #063a08;
}
.submit {
    font-size: 1.4rem;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 20px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #8f9e8e;
    color: #4cc79e;
    box-shadow: 0 2px 0px 1px #a98b8b, 0 0 7px 22px #a2bda0 inset;
}

svg {
    z-index: 1;
}
@keyframes drawPath {
    from {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.level-details {
    display: none;
    margin-top: -50px;
}

.levels:hover .level-details {
    display: block;
}

.filter-list {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.filter-dropdown:hover .filter-list {
    visibility: visible;
    opacity: 1;
}

.hero-text {
    font-family: "Roboto", cursive;
    font-weight: 300;
    background-color: white;
}

.homepage-blockchain {
    background-color: #3c2b2b;
    color: blanchedalmond;
}

@keyframes pulse-slow {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.animate-pulse.ConcurrentModificationException-slow {
    animation: pulse-slow 3s infinite ease-in-out;
}

.animate-float {
    animation: float 4s infinite ease-in-out;
}

.delay-100 {
    animation-delay: 1s;
}

.delay-200 {
    animation-delay: 2s;
}
h2 {
    font-family: "Roboto", sans-serif;
}

.barrier-font {
    font-family: "Barrio", system-ui;
}

.josefin-font {
    font-family: "Josefin Sans", system-ui;
    font-optical-sizing: auto;
}

.uchen-font {
    font-family: "Uchen", system-ui;
}

.numbering {
    box-shadow: 0 3px 0 #e4e4e4, 0 5px 0 #ccd0cc, 0 7px 0 #b7beb7,
        0 9px 0 2px #a4aaa4, 0 11px 0 3px #8f8f8f;
    font-size: 60px;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 0.5;
    }
    50% {
        transform: translateY(-20px) translateX(10px) rotate(15deg);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 0.5;
    }
}

.animate-ribbon-0 {
    top: 10%;
    left: 5%;
    animation: float 6s infinite ease-in-out;
}

.animate-ribbon-1 {
    top: 20%;
    left: 15%;
    animation: float 8s infinite ease-in-out;
}

.animate-ribbon-2 {
    top: 30%;
    left: 25%;
    animation: float 7s infinite ease-in-out;
}

.animate-ribbon-3 {
    top: 40%;
    left: 35%;
    animation: float 9s infinite ease-in-out;
}

.animate-ribbon-4 {
    top: 50%;
    left: 45%;
    animation: float 6s infinite ease-in-out;
}

.animate-ribbon-5 {
    top: 60%;
    left: 55%;
    animation: float 8s infinite ease-in-out;
}

.animate-ribbon-6 {
    top: 70%;
    left: 65%;
    animation: float 7s infinite ease-in-out;
}

.animate-ribbon-7 {
    top: 80%;
    left: 75%;
    animation: float 9s infinite ease-in-out;
}

.animate-ribbon-8 {
    top: 90%;
    left: 85%;
    animation: float 6s infinite ease-in-out;
}

.animate-ribbon-9 {
    top: 95%;
    left: 95%;
    animation: float 8s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 0.5;
    }
    50% {
        transform: translateY(-20px) translateX(10px) rotate(15deg);
        opacity: 0.7;
    }
    100% {
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 0.5;
    }
}
.animate-float {
    animation: float infinite ease-in-out;
}

@keyframes drawPath {
    from {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
.animate-draw {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: drawPath 3s forwards;
}

@keyframes tilt {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(3deg);
    }
}
.animate-tilt {
    animation: tilt 5s ease-in-out infinite;
}
@keyframes dash {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 100;
    }
    to {
        stroke-dashoffset: 0;
    }
}

path {
    stroke-dasharray: 5;
}
